body {
  height: 100vh;
  width: 100wh;
  background: lightblue;
  overflow: hidden;
}

#tower {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

img:hover {
  cursor: pointer;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 30px;
  height: 60px;
  width: 60px;
}

